@import '../../styles/partials/settings';

.projects {
  color: white;
  text-align: center;
  position: relative;
  //min-height: 500px;
  //background-image: url();
  @media (min-width: $tablet-width) {
    text-align: left;
  }
  @media (min-width: $small-desktop-width) {
    //min-height: 800px;
  }
  .project-preview-desktop-wrapper {
    .scroll-projects-active {
      padding-bottom: 220px;
    }
  }
  .projects-wrapper {
    position: relative;
    z-index: 1;
    &.scroll-projects {
      width: 100%;
      height: auto;
      //overflow: auto;
      position: absolute;
      bottom: 0;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      .project-cards {
        max-width: 5000px;
        .project-card {
          width: 240px;
          height: auto;
          display: inline-block;
          white-space: normal;
        }
      }
    }
  }
  .header {
    text-align: left;
    .title {
      margin-left: 30px;
    }
  }
}