@import '../../../styles/partials/settings';
$image-path: '../../../assets/images/';
$mobile-path: $image-path + 'mobile/';
$desktop-path: $image-path + 'desktop/';
$global-path: $image-path + 'global/';

.project-card {
  color: white;
  display: inline-block;
  border-radius: 5px;
  width: 90%;
  background-image: url($global-path + 'ncsoft-site-card-logo.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px auto;
  vertical-align: top;
  min-height: 240px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  @media (min-width: $tablet-width) {
    width: calc(50% - 20px);
    margin: 10px;
  }
  @media(min-width: $small-desktop-width) {
    width: calc(25% - 20px);
  }
}