@import '../../styles/partials/settings';

.contact {
  text-align: center;
  min-height: 300px;
  .contact-form-wrapper {
    .input-wrapper {
      margin: 10px auto;
      color: white;
      label {
        display: block;
        padding: 10px;
      }
      input, textarea {
        background: rgba(255,255,255,.1);
        outline: none;
        border: rgba(255,255,255,.2) 1px solid;
        & textarea {
          background: red !important;
          height: 200px;
        }
      }
    }
  }
}