@import '../../../styles/partials/settings';

  .project-preview {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url('https://s3-us-west-1.amazonaws.com/cdn.migsadventure.com/portfolio/images/desktop/glass-city.jpeg');
    background-size: cover;
    @media(min-width: $small-desktop-width) {
      //background-size: 50%;
    }
    .project-preview-image {
      //width: 100%;
      display: none;
      @media(min-width: $small-desktop-width) {
        display: inline-block;
        width: 50%;
        float: left;
      }
      img {
        width: 100%;
        &:hover {
          opacity: 0.8;
          padding: 10px;
        }
      }
    }
    .project-info {
      display: inline-block;
      float: right;
      width: 100%;
      @media(min-width: $small-desktop-width) {
        width: 50%;
      }
    }
    &.preview-open {
      max-height: 400px;
      height: 400px;
      transition: max-height 0.15s ease-out;
      @media(min-width: $small-desktop-width) {
        max-height: 700px;
        height: 700px;
      }
    }
}