@import '../../../styles/partials/settings';

  .project-preview {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    @media(min-width: $small-desktop-width) {
      //background-size: 50%;
    }
    .project-preview-image {
      //width: 100%;
      display: none;
      @media(min-width: $tablet-width) {
        display: inline-block;
        width: 50%;
        float: left;
      }
      img {
        width: 100%;
        &:hover {
          opacity: 0.8;
          padding: 10px;
        }
      }
    }
    .project-info {
      display: inline-block;
      float: right;
      width: 100%;
      text-align: left;
      padding: 0 20px 30px;
      background-color: rgba(0,0,0,.3);
      @media(min-width: $tablet-width) {
        width: 50%;
      }
      .resp-list {
        padding-left: 20px;
        margin-bottom: 30px;
      }
      h3 {
        margin-bottom: 0px;
      }
       p, li {
        font-size: 15px;
         line-height: 1.3;
      }
      li {
        margin-bottom: 5px;
      }
      .cta {
        margin-top: 40px;
        text-align: center;
      }
    }
    &.preview-open {
      max-height: 400px;
      height: auto;
      transition: max-height 0.15s ease-out;
      @media(min-width: $small-desktop-width) {
        max-height: 700px;
        height: 700px;
      }
    }
}