@import '../../../styles/partials/settings';

.project-preview {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  background: blue;
  &.preview-open {
    max-height: 500px;
    min-height: 400px;
    transition: max-height 0.15s ease-out;
  }
}